<section class="phx-hero">
  <%= f = form_for @changeset, "#", [phx_change: :save] %>
    <%= label f, :name %>
    <%= text_input f, :name %>
    <%= error_tag f, :name %>

    <%= label f, :email %>
    <%= text_input f, :email %>
    <%= error_tag f, :email %>
  </form>
</section>

<section>
  <%= if assigns[:user] do %>
    <div>Congrats! user created: <%= @user.name %>, <%= @user.email %></div>
  <% end %>
</section>
